*{
    background-color: #c5d2e7;
    text-align: center;
    font-family: "verdana", "sans-serif";
    color: #00769b;
    border: 0;
    padding: 0;
   
}
.button-style{
    
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    color:aqua;
    background-color: #11b08f;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 6px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
   

}
.button-style:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
.button-style:focus-visible{
    outline-offset: 1px;
}
.flexCont1{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    margin-left: 4px;
    
    
    justify-content: space-between;
}
#nav-menu{
    display: flex;
    justify-items: auto;
    /* justify-content: space-between; */
}
.home_home{
    
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    height: 350px;
    justify-content: space-between;
}
#about{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 20%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
#skills{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: auto;
    width: 70%;
    
    margin: auto;
    
}
#projects{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2,48%);
    grid-template-rows: auto;
    
    color: #f78125;
    padding: 4px;
}
.project-card{
    margin: 5px;
    height: 80%;
}
.project-img{
    width: 70%;
}
.github{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#contactContain{
    display: flex;
    justify-content: space-between; 
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}
